*{
    margin: 0;
    padding :0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background:black;
}
.card{
    width: 450px;
    background :linear-gradient(135deg,#00feba,hwb(248 33% 46%));
    color: white;
    /* margin: 100px auto 0; */
    margin: 100px auto;
    border-radius:20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color:#555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 40px;
    /* flex: 1; */
    margin-right: 5px;
    font-size: 18px;    
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 19px;
    margin-top: 4px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 400;
    margin-top: -10px   ;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
   display: flex;
   align-items: center;
   text-align: left;
}
.col2{
    display: flex;
    align-items: center;
    text-align: left;
 }
.col img{
  width: 40px;
  margin-right: 10px;
}
.col2 img{
    width: 40px;
    margin-right: 10px;
  }
.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    margin-left: -53px;
    font-size: 19px;
    padding-top: 23px;
    display: none;
}
@media( max-width:900px)
{
.card{
    width:300px;
    padding-left: 5%;
    padding-right: 5%;
}
.search{
    width: 100px;
}
.card .search input{
    padding: 1px 0px 1px 16px;
    height: 60px;
    margin-right: 0;
    font-size: 15px;
      
}
.search button{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    padding: 16px;
    border-radius: 50%;
}
.search button img{
    width: 14px;
    margin-top: 2px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 65px;
    font-weight: 400;
    margin-top: -10px   ;
}
.details{
    padding: 0 20px;
    margin-top: 50px;
    justify-content: space-between;
}
.col img{
  width: 40px;
  margin-left: -30px;
}
.col2 img{
    width: 40px;
  }
.wind{
    margin-top: -6px;
    font-size: 18px;
}
.error{
    margin-left: -53px;
    font-size: 19px;
    padding-top: 23px;
}
.col2{
    margin-right: -25px;
}
}
